---
import Main from "../components/Main.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Going Functional" />
		<meta property="og:url" content="https://www.goingfunctional.com" />
		<meta property="og:image" content="" />
		<meta
			property="og:description"
			content="A community to help developers who enjoy functional programming a way to find a way to incorporate that in their careers."
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Going Functional</title>
	</head>
	<body>
		<Main />
	</body>
</html>

<style is:global>
	body {
		background-color: black;
		font-family: system-ui, Helvetica, Arial;
		color: white;
		margin: 0;
		padding: 0;
	}
</style>
