---
import Main from "../components/Main.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Going Functional" />
		<meta property="og:url" content="https://www.goingfunctional.com" />
		<meta property="og:image" content="" />
		<meta
			property="og:description"
			content="A community to help developers who enjoy functional programming a way to find a way to incorporate that in their careers."
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
			rel="stylesheet"
		/>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Going Functional</title>

		<!-- <style>
			:root {
				color-scheme: light dark;
			}
			body {
				margin: 0;
				font-family:
					system-ui,
					-apple-system,
					Segoe UI,
					Roboto,
					sans-serif;
			}
			header {
				padding: 1rem;
			}
		</style> -->
	</head>
	<body>
		<script
			defer
			src="https://analytics.mint.se/script.js"
			data-website-id="6130b62e-ef33-4488-87ab-5f8dba725c00"></script>
		<Main />
	</body>
</html>

<style is:global>
	body {
		background-color: black;
		font-family: system-ui, Helvetica, Arial;
		color: white;
		margin: 0;
		padding: 0;
		font-family: "Parkinsans";
	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>
