.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.avatar {
  width: 8rem;
  aspect-ratio: 1 / 1;
  /* border-radius: 50%; */
  border-radius: 20px;
  object-fit: cover;
  background-color: #252525;
  border-color: white;
  border-width: 4px;
  /* box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.4), 0 0 10px 0 rgba(0, 0, 0, 0.69); */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  border-width: 2px;
  border-style: solid;
  border-color: #aaaaaa;
}

.header_container {
  display: flex;
  flex-direction: row;
  align-items: start;
  border-radius: 20px;
  background-color: #353535;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.4); */
  padding: .8rem;
  border-width: 2px;
  border-style: solid;
  border-color: #444444;
}

.login {
  font-family: 'Roboto Mono';
}

.bio {
  font-style: italic;
  font-size: 1rem;
  padding: 0rem .5rem;
}

.content_container {
  background-color: #888888;
  padding: 0 0 0rem 0;
  border-radius: 24px 24px 10px 10px;
  /* box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.content_wrap {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #88888800;
  border-radius: 20px;
  padding: .5rem;
}

.solution_row {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  border-radius: 10px;
  background-color: #252525;
  padding: 0 0 0rem 0;
}

.no_solutions {
  background-color: #555555;
  padding: .5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.solution_day_header {
  background-color: #353535;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}

.read_more {
  background-color: #555555;
  padding: .5rem 1rem;
  border-radius: 0 0 10px 10px;
}

a {
  font-size: 1rem;
  color: white;
}

a:hover {
  color: white;
  font-style: underline;
}

.solution_content {
  background-color: #252525;
  border-radius: 10px;
  padding: .5rem 1rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 1.5rem;
}

.solution_row h2 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 1.3rem;
}

h3 {
  margin-top: 0rem;
  font-size: 1rem;
}

.header_info {
  padding: 0rem 1rem 0rem 1rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 568px) {
  .avatar {
    width: 4rem;
  }
}

@media (max-width: 380px) {
  .avatar {
    width: 3rem;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 1.1rem;
  }

  .solution_row h2 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 1rem;
  }

  .solution_content {
    padding: .3rem 1rem;
  }

  .solution_day_header {
    padding: .7rem 1rem;
  }

  .read_more {
    padding: .3rem 1rem;
  }

  h3 {
    margin-top: 0rem;
    font-size: .8rem;
  }

  a {
    font-size: .8rem;
  }

  .bio {
    display: none;
  }
}