---
import { Image } from "astro:assets";
import gflogo from '../img/going-functional.png';
const { greeting = "Hello", name = "Astronaut" } = Astro.props;
---
<div class="logo-container">
  <Image class={"logo_img"} src={ gflogo } alt="logo"></Image>
</div>
<slot />

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
  }

  .logo_img {
    margin: auto;
    padding: auto;
    display: block;
  }
</style>