---
import { Image } from "astro:assets";
import gflogo from "../img/going-functional.png";
// import "leaflet/dist/leaflet.css";
// import Map from "../components/Map.astro";
// import Tabs from "../components/Tabs.astro";
import Tabs from "../components/Tabs.tsx";
const slackInviteLink =
  "https://join.slack.com/t/goingfunctional/shared_invite/zt-31bjfeqw0-JIWxPvHE2y42FQV02iJyKQ";
---

<div class="container">
  <div class="header-container">
    <div class="vert-container">
      <Image class={"logo_img"} src={gflogo} alt="logo" />
      <div class="header-txt-container">
        <p class="body-text mt-3">
          Going Functional is a community dedicated to spreading functional
          programming. Whether it's through meetups, community or driving
          workplace adoption, our goal is to ensure that functional programming
          has a bright future.
        </p>
        <a href={slackInviteLink} class="mt-3 join-button">Join Us</a>
      </div>
    </div>
  </div>
  <!-- <Map /> -->
  <div class="main-container">
    <!-- <Videos client:load /> -->
    <Tabs client:load />
  </div>
</div>
<slot />

<style>
  .body-text {
    max-width: 40rem;
    line-height: 1.5rem;
    text-align: left;
    padding: 0rem;
  }

  .mt-3 {
    margin-top: 0rem;
  }

  .join-button {
    display: inline-block;
    text-decoration: none;
    background-color: #4b0082;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    max-width: 4rem;
    transition:
      background-color 0.3s,
      transform 0.2s;
  }

  .join-button:hover {
    background-color: #360061;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* .logo_img {
    display: block;
    width: auto;
    height: 10rem;
    max-width: 30.8rem;
    padding: auto;
    align-self: center;
  } */

  .logo_img {
    display: block;
    width: auto;
    height: 25rem;
    max-width: 40.8rem;
    padding: auto;
    align-self: center;
  }

  .header-container {
    display: flex;
    padding: 2rem;
  }

  .main-container {
    /* padding-left: 2rem;
    padding-right: 2rem; */
    width: 100%;
    max-width: 60rem;
  }

  /* .vert-container {
    display: flex;
    flex-direction: row;
  } */

  .vert-container {
    display: flex;
    flex-direction: column;
  }

  .header-txt-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (max-width: 768px) {
    .header-container {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    .header-txt-container {
      display: flex;
      flex-direction: column;
      padding-left: auto;
      padding-right: auto;
    }

    .main-container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .vert-container {
      display: flex;
      flex-direction: column;
    }

    /* .logo_img {
      display: block;
      width: auto;
      height: 11rem;
      max-width: 25.8rem;
      padding-left: auto;
      padding-right: auto;
      padding-bottom: 1rem;
      align-self: center;
    } */

    .logo_img {
      /* display: block; */
      width: auto;
      height: 12rem;
      max-width: 21.8rem;
      padding-left: auto;
      padding-right: auto;
      padding-bottom: 1rem;
      align-self: center;
    }
  }
</style>
