  .frameContainer {
    height: 24rem;
    width: 100%;
    max-width: 42rem;
    max-height: 24rem;
  }

  .content_main {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #444444;
    border-radius: 0px 24px 24px 24px;
  }

  .content_radio_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 1rem;
    padding-right: 1.5rem;
  }

  .content_radio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: .6rem 1rem .6rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 24px 24px 0px 0px;
    background-color: #1c1a1a;
  }

  .content_radio_top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: .6rem 1rem .6rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 24px 24px 0px 0px;
    background-color: #1c1a1a;
  }


  .content_radio_active {
    display: block;
    padding: .6rem 1rem .6rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 24px 24px 0px 0px;
    background-color: #444444;
  }

  .content_radio_active_top {
    display: block;
    padding: .6rem 1rem .6rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 24px 24px 0px 0px;
    background-color: #444444;
  }

  @media (hover: hover) and (pointer: fine) {
    .content_radio:hover {
      background-color: #444444;
    }

    .content_radio_active:hover {
      background-color: #444444;
    }
  }

  @media (max-width: 568px) {
    .frameContainer {
      height: 24rem;
      width: 100%;
      max-width: 25rem;
      max-height: 14rem;
    }

    .content_radio {
      font-size: 1rem;
    }

    .content_radio_active {
      font-size: 1rem;
    }
  }

  @media (max-width: 380px) {
    .content_radio {
      font-size: .8rem;
      border-radius: 0px;
    }

    .content_radio_top {
      font-size: .8rem;
    }

    .content_radio_container {
      flex-direction: column;
      width: 100%;
    }

    .content_radio_active {
      font-size: .8rem;
      border-radius: 0px;
    }

    .content_radio_active_top {
      font-size: .8rem;
    }

    .content_main {
      border-radius: 0px 0px 24px 24px;
    }
  }